.photo-grid__list {
  display: -ms-grid;
  display: grid;
  /*-ms-grid-columns: (minmax(284px, 1fr))[auto-fill];*/
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  grid-gap: 13px;
}
@media (max-width: 1024px) {
  .photo-grid__list {
    grid-gap: 11px;
  }
}
@media (max-width: 320px) {
  .photo-grid__list {
    grid-gap: 9px;
  }
}
