.place__image {
  max-width: 460px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {

  .place__image {
    width: 49%;
    max-height: 440px;
  }
}
@media (max-width: 768px) {

  .place__image {
    max-width: 340px;
    min-width: 200px;
    max-height: 340px;
  }
}

@media (max-width: 680px) {
  .place__image {
    min-width: 100%;
    margin-bottom: 32px;
  }
}
